code {
 
  border-radius: 6px;
  color: #3a3a3a;
  display: block;
  font: 14px/24px 'Oswald', sans-serif;
  padding: 24px 15px;
  margin-left: 10%;
  overflow: auto;
}
header,section,aside,footer {
  margin: 0 1.5% 24px 1.5%;
}
header{
	margin-top: 20px;
	width: 100%;
	margin-left: -30px;
}
section {
  float: left;
  width: 63%;
}
aside {
  float: right;
  width: 30%;
  margin-right: 30px;
}
footer {
  clear: both;
  margin-bottom: 0;
}

.meter { 
	height: 15px;  
	position: relative;
	background: white;
	
}
.meter > span {
  display: block;
  height: 100%;
  background-color: orange;
  position: relative;
  overflow: hidden;
} 
.check {
	background-color:black;
	color: #fff;
	display: block;
	font: 14px/24px 'Oswald', sans-serif;
	padding: 24px 15px;
	border-radius: 6px;
	margin-left: 80px;
	margin-right: 10px;
	overflow: auto;
}
.rightside {
	float:right;
	width: 50%;
}
.leftside {
	float:left;
	width: 50%;
}
body {
	width: 1300px;
}
h1 {
	color: #3a3a3a;
	font-family: 'Oswald', sans-serif;
	font-size: 90px;
	font-weight: 400;
	letter-spacing: 7px;
	margin-bottom: 10px;
	margin: 0;
	line-height: 90px;
}
h2 {
	color: #3a3a3a;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 7px;
	margin: auto;
	line-height: 40px;
}
h3 {
	color: grey;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 7px;
	margin: auto;
	line-height: 40px;
}

.nav {
	margin-left: 70%;
	
}

.nav ul li {
	list-style: none;
}

.nav ul li a {
	text-decoration: none;
	float: left;
	display: block;
	padding: 10px 20px;
	color: #3a3a3a;
	font-family: "HelveticaNeue-Light", sans-serif;

}

.nav ul li a:hover {
	color: pink;
	background-color: black;
}
#imagetomove {
	position: relative;
	top: 10px;
	left: 10px;
}